<div id="search-component">
  <label for="search-box">Hero Search</label>
  <!-- # is for temp values in js and to reference to it later -->
  <input #searchBox id="search-box" (input)="search(searchBox.value)" />
  <ul class="search-result">
    <!-- $ indicates that heroes$ is an observable not an array -->
    <!-- | async : is a pipe that subscribes automatically to an observable -->
    <li *ngFor="let hero of heroes$ | async" >
      <a routerLink="/detail/{{hero.id}}">
        {{hero.name}}
      </a>
    </li>
  </ul>
</div>
